html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    --background: #121212;
    --text: #fafafa;
    margin: 0;
    background: var(--background);
    color: var(--text);
    font: 1rem/1.5 "Inter", sans-serif;
    display: flex;
    flex-direction: column;
}


h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 0.5rem 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
    color: inherit;
    text-decoration: none;
}
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
section {
    padding: 1rem;
}

p {
    margin: 0 0 0.5rem;
    font-weight: 400;
}

ul, ol {
    margin: 0.5rem 0 1rem;
    padding-inline-start: 2rem;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin: 0;
}
.title {
    padding: 1rem;
}
.content {
    max-width: 60em;
    margin: auto;
    flex: 1 0 auto;
}
#logo {
    height: 3.5rem;
    width: 3.5rem;
    margin: auto 1.5rem auto auto;
    vertical-align: text-top;
    display: inline-block;
}
#postamble {
    max-width: 60rem;
    width: 100%;
    margin: auto;
    padding: 0.5rem 1rem;
    line-height: 1.15;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (min-width: 480px) {
    section, .title {
	padding: 2rem;
    }
    #postamble {
	padding: 0.5rem 2rem;
    }
}
